<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <title>Computer Lab</title>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/angular.min.js"></script>
  <script src="/static/angular-route.min.js"></script>
  <script src="/static/ng-file-upload-shim.min.js"></script>
  <script src="/static/ng-file-upload.min.js"></script>
  <script src="/static/underscore-min.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="/dist/stylesheets.less"></link>
  <script src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/dist/<%= grunt.config.get('pkg.name') %>.js"></script>
  <style>
    .grid-header {
      /* margin-left: 0px; */
      /* background: #a09998; */
      margin-bottom: 15px;
    }

    .grid-container {
      margin-bottom: 15px;
    }

    .grid-box {
      margin-bottom: 15px;
      border: #d1eac6;
      border-radius: 5px;
      border-style: solid;
    }

    .grid-row {
      padding-left: 3px;
      padding-right: 3px;
      margin-left: 0px;
      margin-right: 0px;
      height: 70px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  </style>
</head>

<body ng-controller="appController" style="padding-top:20px;padding-bottom:20px;background-color:rgba(247, 247, 247, 0.94)">
  <div class="container">
    <header ng-include src="'/dist/__header.html'"></header>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="panel-body">
            <h3>Current memory reference: Process {{currentReference.process}} Page: {{currentReference.page}}</h3>
            <div class="col-xs-6">
              <h3>Page Table</h3>
              <table class="table">
                <tr>
                  <th>Page</th>
                  <th>Frame</th>
                </tr>
                <tr ng-repeat="p in pageTable">
                  <td>{{p.page}}</td>
                  <td>{{p.frame}}</td>
                </tr>
              </table>
            </div>
            <div class="col-xs-6">
              <h3>Physical Memory</h3>
              <table class="table">
                <tr>
                  <th>Process</th>
                  <th>Pages</th>
                  <th>Memory References</th>
                </tr>
                <tr ng-repeat="p in physicalMemory">
                  <td>{{p.frame}}</td>
                  <td>{{p.processId}}</td>
                  <td>{{p.pageNumber}}</td>
                </tr>
              </table>
            </div>
            <div class="text-center">
              <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel-body">
          <div class="col-xs-3">
            <div class="container-fluid">
              <div class="form-group">
                <h3>File Input</h3>
                <input ngf-select ng-model="file" name="file" type="file" />
                <p class="help-block">Upload file to start simulation</p>
              </div>
              <button class="btn btn-primary" type="button" ng-click="uploadFile(file)">Upload</button>
            </div>
          </div>
          <div class="col-xs-9">
            <h3>Memory Reference Statistics</h3>
            <table class="table">
              <tr>
                <th>Process Number</th>
                <th>Page Count</th>
                <th>Memory Reference Count</th>
              </tr>
              <tr ng-repeat="p in statsData">
                <td>{{p.name}}</td>
                <td>{{p.pageCount}}</td>
                <td>{{p.refCount}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>